  @model List<MV_Doctor>
  <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">List Doctors</h4>
                  <p class="card-description">
                   Sort By: <code>.Id Doctors</code>
                  </p>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          First name
                        </th>
                        <th>
                         Email
                        </th>
                        <th>
                         Gender
                        </th>
                        <th>
                          City
                        </th>
                        <th>
                          proccess
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                             <tr>
                        <td class="py-1">
                          <img src="/fileupload/@item.FileUpload" alt="image"/>
                        </td>
                        <td>
                          @item.Name
                        </td>
                        <td>
                          @item.Email
                        </td>
                        <td>
                          @item.Gender
                        <td>
                          @item.City
                        </td>
                        <td>
                          <a href="">delete</a>
                          |
                          <a href="">update</a>
                        </td>
                      </tr>
                        }

                     
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>